body{
    background-color: azure;
    padding: 0%;
    margin: 0%;
  }
input[type=text], input[type=password] {
    width: 550px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
    input[type=button] {
 border-radius: 2px;
    margin-left: 24px;
}
button {
    background-color: grey;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
button:hover {
    opacity: 0.8;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 40%;
    border-radius: 50%;
}
.container {
    padding: 16px;
}
span.psw {
    float: right;
    padding-top: 16px;
}
    table{
        width:100%; text-align:center;
         border: 1px solid black;
        
        
    }
    td,th{
        border: 1px solid black; padding: 3px 2px 1px 1px;
    }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
   
    }
}
#header {
	background-color: #eeebec;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
#header div{
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 10px 27px;
}
#header div ul {
	float: right;
	list-style: none;
	margin: 0 auto;
	padding: 17px 0 0;
	text-align: center;
	width: 513px;
}
#header div ul li {
	display: inline-block;
	*float: left; /* Needed for IE7 and old versions */
	margin: 0 35px;
	padding: 0;
	position: relative;
	width: auto;
}
#header div ul li a {
	color: #7a6666;
	font-family: lato-regular-webfont;
	font-size: 20px;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #cb3362;
}
#header div ul li a:hover, #header div ul li.menu:hover ul li a {
	color: #c8c10d;
}
#header div ul li ul li a {
	color: #cb3362;
	font-family: lato-regular-webfont;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
#header div ul li.menu {
	min-height: 35px;
	z-index: 80;
}
#header div ul li.menu ul {
	display: block;
	float: none;
	left: -99999px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 24px;
	width: 106px;
	z-index: 90;
  list-style: none;
}